* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font: 500 16px 'Poppins', sans-serif;
}

main {
  background: #f7f7f7;
}

.input-container {
  position: relative;
}

.input-icons i {
  position: absolute;
  right: 1px;
  color: #c8c8c8;
}

.input-icons input {
  position: relative;
}

.input-icons {
  width: 100%;
  margin-bottom: 10px;
}

.icon {
  padding: 10px;
  min-width: 40px;
  text-align: start;
  cursor: pointer;
}

.main-container {
  display: grid;
  justify-content: center;
  padding-top: 4rem;
  padding-bottom: 1.625rem;
}

.content-resize {
  margin: 0 auto;
  width: 325px;
}

.title-box {
  margin-bottom: 5.437rem;
}

.title-box h1 {
  font: 500 48px 'Roboto', sans-serif;
  line-height: 56.25px;
  color: #323232;
}

.title-box span {
  font: 500 12px 'Poppins', sans-serif;
  color: #797979;
}

.email-input {
  margin-bottom: 1.5rem;
}

.icon-input {
  display: flex;
  align-items: center;
}

.image {
  transform: translateX(-28px);
}

.image img {
  width: 17px;
  height: 13px;
}

.email-input input,
.password-input input {
  width: 19.312rem;
  height: 2.937rem;
  border-radius: 19px;
  outline: none;
  border-style: solid;
  padding: 13px 53px 11px 14px;
  border: 1px solid #e2e2e2;
}

.email-input label,
.password-input label {
  color: #797979;
}

.email-input input::placeholder,
.password-input input::placeholder {
  color: #c8c8c8;
  font: 500 18px 'Poppins', sans-serif;
}

.recover-box {
  text-align: end;
  margin-top: 0.625rem;
  max-width: 15.5rem;
}

.recover-box span {
  color: #797979;
}

.recover-box span,
.recover-box a {
  font-size: 12px;
  text-decoration: none;
}

input {
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.button input {
  width: 19.312rem;
  height: 2.937rem;
  border-radius: 19px;
  outline: none;
  border-style: solid;
  border: 1px solid #d3bcdc;
  background: #d3bcdc;
  color: #e9e9e9;
  margin-top: 1.937rem;
  cursor: pointer;
  font: 600 24px 'Roboto', sans-serif;
  -webkit-box-shadow: 0px 0px 21px 6px rgba(211, 188, 220, 1);
  box-shadow: 0px 0px 21px 6px rgba(211, 188, 220, 1);
}

.divider-flex {
  display: flex;
  place-content: center;
  align-items: center;
  gap: 12px;
  margin-top: 2.25rem;
}

.divider-flex span {
  display: grid;
  justify-content: center;
  font-size: 12px;
  color: #636363d9;
}

.divider {
  height: 1px;
  width: 93px;
  background: #e2e2e2;
}

.socials {
  width: 19.312rem;
  display: flex;
  justify-content: space-between;
  margin: 2.687rem 0;
}

.socials a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0.312rem 1.125rem;
}

.socials img {
  width: 1.56rem;
}

.icon-border {
  border: 2px solid #ffffff;
  border-radius: 19px;
}

.register-box {
  font-weight: 600;
  display: flex;
  justify-content: center;
  gap: 3.5px;
  margin-bottom: 5px;
}

.main-image {
  display: grid;
  justify-content: center;
}

.main-image img {
  width: 100%;
  max-width: 23.437rem;
}

@media (min-width: 1200px) {
  main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
  }

  .title-box {
    margin-bottom: 4.937rem;
  }

  .email-input {
    margin-bottom: 2.375rem;
  }

  .input-icons i {
    right: 4.5rem;
  }

  .recover-box {
    margin-top: 0.5rem;
    max-width: 24.2rem;
  }

  .divider-flex {
    margin-top: 4.375rem;
  }

  .socials {
    margin: 2.875rem 0;
  }
  .socials img {
    width: 2.437rem;
  }

  .socials a {
    padding: 0.625rem 2.25rem;
  }

  .image-content {
    grid-column: 2;
    display: grid;
    align-items: flex-end;
  }

  .title-box h1 {
    font: 500 4.25rem 'Roboto', sans-serif;
    line-height: 56.25px;
    color: #323232;
  }

  .title-box span {
    font: 500 1.875rem 'Poppins', sans-serif;
    color: #797979;
  }

  .email-input input,
  .password-input input {
    width: 30.25rem;
    height: 4.625rem;
  }

  .button input {
    width: 30.25rem;
    height: 4.625rem;
  }

  .socials {
    width: 30.187rem;
  }

  .divider-flex {
    width: 30.187rem;
  }

  .divider-flex span,
  .divider {
    width: 100%;
  }

  .main-image {
    display: block;
  }

  .main-image img {
    max-width: 50.875rem;
  }
}
